.container 
  .left
    .left__bar
      .left__bar__title
        nomitomo
      .left__bar__nav
        %i.home-icon
        = icon('fas', 'fa-home-lg-alt', class: 'icon')
        = link_to('Home', root_path, class: 'home-link')
        
      .left__bar__search-list
        %h1 主要駅から探す
        %ul.main-stations
          %li.station-name
            = link_to('@渋谷', '#', class: 'search-result-link') 
          %li.station-name
            = link_to('@新宿', '#', class: 'search-result-link') 
          %li.station-name
            = link_to('@池袋', '#', class: 'search-result-link') 
          %li.station-name
            = link_to('@品川', '#', class: 'search-result-link') 

      .left__bar__calender
        %h1 カレンダー


  .center
    .search-box
      = form_with(url: '#', local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "キーワードを入力", class: "input-info"

    .tweets-list
      .one-tweet-box
        .one-tweet-box__left
          .user-image
        .one-tweet-box__right
          .tweet-date
            2020/03/17
          .user-info
            .user-info__nickname
              user-nickname
            .user-info__subname
              @user-subname
          .text-form
            text-message
          .desired-place
            .desired-place__area
              .span 地域：
            .desired-place__station
              .span 駅：
      .one-tweet-box
        .one-tweet-box__left
          .user-image
        .one-tweet-box__right
          .tweet-date
            2020/03/17
          .user-info
            .user-info__nickname
              user-nickname
            .user-info__subname
              @user-subname
          .text-form
            text-message
          .desired-place
            .desired-place__area
              .span 地域：
            .desired-place__station
              .span 駅：
      .one-tweet-box
        .one-tweet-box__left
          .user-image
        .one-tweet-box__right
          .tweet-date
            2020/03/17
          .user-info
            .user-info__nickname
              user-nickname
            .user-info__subname
              @user-subname
          .text-form
            text-message
          .desired-place
            .desired-place__area
              .span 地域：
            .desired-place__station
              .span 駅：
      .one-tweet-box
        .one-tweet-box__left
          .user-image
        .one-tweet-box__right
          .tweet-date
            2020/03/17
          .user-info
            .user-info__nickname
              user-nickname
            .user-info__subname
              @user-subname
          .text-form
            text-message
          .desired-place
            .desired-place__area
              .span 地域：
            .desired-place__station
              .span 駅：
      .one-tweet-box
        .one-tweet-box__left
          .user-image
        .one-tweet-box__right
          .tweet-date
            2020/03/17
          .user-info
            .user-info__nickname
              user-nickname
            .user-info__subname
              @user-subname
          .text-form
            text-message
          .desired-place
            .desired-place__area
              .span 地域：
            .desired-place__station
              .span 駅：

  .right
    .right__box
      .current-user
        .current-user__image
        .current-user__detail
          .current-user__detail__nickname
            current-user__nickname
          .current-user__detail__address
            current-user__address
    
      .downside
        .invite-friends
          = link_to('飲み友を募集する', '#', class: 'invite-btn') 
          